body {
	background-attachment: fixed;
	background-image: url("https://zombie-survival-2.github.io/images/background.png");
	background-position: center; 
	background-size: cover;
	background-repeat: no-repeat;
}

.container-fluid {
	padding: 15px;
}

img {
	margin-bottom: 16px;
}

.zs2-logo {
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

p, ul, th, td, .btn {
	font-family: Arial, sans-serif;
	font-size: 30px;
	line-height: 0.95;
}

.zs2-body {
	background-color: black;
	border: 2px solid #AA1111;
	color: white;
	padding: 20px;
	padding-bottom: 4px;
}

footer hr {
	border-top: 1px solid #888888;
}

footer p {
	font-family: Arial, sans-serif;
	font-size: 12px;
	text-align: right;
	letter-spacing: 0px;
}
