body {
	background-attachment: fixed;
	background-image: url("https://zombie-survival-2.github.io/images/background.png");
	background-position: center; 
	background-size: cover;
	background-repeat: no-repeat;
}

.container-fluid {
	padding: 15px;
}

img {
	display: block;
	margin-bottom: 16px;
}

.zs2-logo {
	height: auto;
	margin: -16px auto -8px auto;
	width: 100%;
}

h1, h2, h3 {
	font-family: Arial, sans-serif;
	font-weight: bold !important;
}

p, ul, th, td, .btn {
	font-family: Arial, sans-serif;
	font-size: 18px;
}

span {
	color: #009900;
}

.table td, .table th {
	border: none !important;
}

.zs2-topbar table {
	border: 2px solid #AA1111;
	border-bottom: none;
	margin-bottom: 0px;
	width: 100%;
}

.zs2-topbar table th {
	padding: 0px;
}

.zs2-topbar table .btn {
	background-color: black;
	border-radius: 0px;
	color: #888888;
	font-size: 18px;
	font-weight: bold;
	padding: 0px;
	text-transform: uppercase;
	width: 100%;
}

.zs2-topbar table .btn:hover {
	background-color: black;
	color: white;
}

.zs2-topbar table .selected, .zs2-topbar table .selected .btn:hover {
	background-color: #AA1111 !important;
	color: white !important;
}

.zs2-topbar table .btn span {
	display: inline-block;
	transform: scale(1, 0.75);
}

.zs2-body {
	background-color: black;
	border: 2px solid #AA1111;
	color: white;
	padding: 20px;
	padding-bottom: 4px;
}

.zs2-body table {
	background-color: #101010;
	color: white;
}

.zs2-body table tr .picture, .zs2-body table tr .picture img {
	margin-bottom: 0px;
	width: 100px;
}

.zs2-body table tr td p {
	margin-bottom: 0px;
}

footer hr {
	border-top: 1px solid #888888;
}

footer p {
	font-family: Arial, sans-serif;
	font-size: 12px;
	text-align: right;
	letter-spacing: 0px;
}

.zs2-emblem {
	margin: 8px auto -8px auto;
	width: 72px;
}